*{
    margin: 0 auto;
    padding: 0;
}

#login-area {
    width: 600px;
    margin: 150px auto;
    box-shadow: 0px 0px 3px  #333;
    padding: 20px 30px;

}
#login-area h2{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: Arial;
}

#main-content{
    display: none;
    margin: 50px auto;
}
#main-content .current-blace{
    background-color:tomato;
    padding: 20px 30px;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
    box-shadow: 0px 2px 1px;
}

#main-content .Withdraw-blace{
    background-color:orange;
    padding: 20px 30px;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
    box-shadow: 0px 2px 1px;
}

#main-content .Total-blace{
    background-color:green;
    padding: 20px 30px;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
    box-shadow: 0px 2px 1px;
}
.box{
    box-shadow: 0px 0px 3px  #333;
    padding: 20px 30px;
    border-radius: 5px;
}
.input-section{
    margin: 40px auto;
   
}